/* Contact Page CSS Code */
/* Affects entire document */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: lightblue;
}
 
/*Header CSS Code*/
h1 {
  color: #4d3319;
  text-align: left;
  margin: 0% 2%;
  text-shadow: 3px 3px 3px antiquewhite;
}
  
/* Inline display for header to arrange items horizontally */
header li {
  display: inline;
  padding: 15px;
  text-decoration: none;
  font-size: 30px;
  text-shadow: 1px 1px 1px black;
}

/* Pseudo classes on nav. bar items to change color on hover and after click. */  
a:link {
  color: #546b3e;
  text-decoration: none;
}

a:visited {
  color:#2f3e21;
}

a:hover {
  color: green;
}

/* Position: sticky; to keep nav. bar visible at the top (top: 0;) of the screen at all times. */
header {
  text-align: right;
  background-color: lightblue;
  position: sticky;
  top:0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  border-bottom: solid 2px;
  border-top: solid 2px;
}
  
header ol{
  margin: 10px 40px;
}

h2 {
  margin: 40px 0px 15px;
}

/* Contact Page CSS Code*/
  
.contact {
  margin-bottom: 40px;
}
  
.contact-header {
  color: #ffffdb;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 3px 3px 3px #4d3319;
  margin: 0;
  padding: 20px 60px 20px; 
  background-color: rgb(100, 51, 15, 0.75);
  border-bottom: solid 2px #ffffdb;
  border-top: solid 2px #ffffdb;
}
 
/* Layout Set Up of Form CSS Code. */
form {
  margin: 30px 20px 80px;
  padding: 40px 60px 15px;
  width: 75%;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-image: url(photos/zcontactbground.jpeg);
  border-radius: 50px;
  align-items: center;
}
  
input {
  padding: 8px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 2px inset lightgray;
  border-radius: 15px;
  background-color: #fffff0;
  width: 60%;
}
  
label {
  color: #4d3319;
  text-shadow: 3px 3px 3px #fffff0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
}
  
textarea {
  padding: 8px;
  font-size: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: 2px inset lightgray;
  border-radius: 15px;
  background-color: #fffff0;
  width: 80%;
}

.fbutton {
  background-color: #ffffdb;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  color: #4d3319; 
  border-radius: 25px;
  cursor: pointer;
  width: 10%;
}

/* Footer CSS Code*/
footer {
  background-color: #99bb77;
  margin: 0px;
  position: fixed;
  bottom: 0;
  width: 100vw;
}
      
footer li {
  display: inline-block;
  padding: 4px 20px 0px;
}
      
footer ul {
  text-align: center;
  margin: 10px;
}
      
.socialbutton {
  height: 40px;
  width: 40px;
}
      

/* Media Queries */
/* Mobile: from 320px*/
@media (min-width: 320px) and (max-width: 767px) {
  /*Header Queries CSS Code (anything that needs to be changed for mobile, code here.)*/
  h1 {
    font-size: 30px;
    text-shadow: 1px 1px 1px antiquewhite;
    text-align: center;
  }

  header li {
    padding: 2px;
    font-size: 15px;
    text-shadow: 0.5px 0.5px 0.5px black;
  }

  header ol{
    margin: 0px;
    text-align: center;
  }

/* Contact Page Queries CSS Code (Mobile) */
/* Change sizing */
  .contact-header {
    font-size: 20px;
    text-shadow: 3px 3px 3px #4d3319;
    padding: 5px 5px; 
    border-width: 1px;
    text-align: center;
  }

  form {
    margin: 20px 18px 50px;
    padding: 20px 30px 8px;
    width: 75%;
    font-size: 12px;
    border-radius: 20px;
    align-items: center;
  }

  input {
    padding: 6px;
    font-size: 12px;
  }
    
  label {
    color: #4d3319;
    text-shadow: 0.5px 0.5px 0.5px #fffff0;
  }
    
  textarea {
    padding: 6px;
    font-size: 12px;
    border-radius: 20px;
  }
    
  .fbutton {
    width: 20%;
  }
  
  /* Footer Queries CSS Code (Mobile) */  
  footer {
    padding: 0px;
  }

  .socialbutton {
    height: 20px;
    width: 20px;
    }
}

/* Tablet from 768px and up */
@media (min-width:768px) and (max-width: 1024px) {
  /*Header Queries CSS Code (Tablet)*/
  h1 {
    font-size: 30px;
    text-shadow: 1px 1px 1px antiquewhite;
    text-align: center;
  }

  header li {
    padding: 4px;
    font-size: 15px;
    text-shadow: 0.5px 0.5px 0.5px black;
  }

  header ol{
    margin: 0px;
    text-align: center;
   }

  /* Contact Page Queries CSS Code (Tablet) */
  /* Change sizing */
  .contact-header {
    font-size: 20px;
    text-shadow: 3px 3px 3px #4d3319;
    padding: 5px 5px; 
    border-width: 1px;
    text-align: left;
  }

  form {
    margin: 20px 18px 50px;
    padding: 20px 30px 8px;
    width: 75%;
    font-size: 12px;
    border-radius: 20px;
    align-items: center;
  }

  input {
    padding: 6px;
    font-size: 12px;
  }
   
  label {
    color: #4d3319;
    text-shadow: 0.5px 0.5px 0.5px #fffff0;
  }
   
  textarea {
    padding: 6px;
    font-size: 12px;
    border-radius: 20px;
  }
   
  .fbutton {
    width: 10%;
  }

  /* Footer Query CSS Code (Tablet) */
  .socialbutton {
    height: 20px;
    width: 20px;
  }
}
      

 